body{
    background-color: #fff;
}

.filter-container{
        display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-end;
            background-color: transparent;
            padding: 0 20px 20px;
            background-color: #fff !important;
}
.filter-child
{
    display: flex;
        flex-direction: column;
        margin: 2px 5px 2px 0 !important;
}

.grid-container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
     gap: 5%;
        padding:5%;


   
}

.box {
    position: relative;
    background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px;
            border-radius: 20px;
    padding: 20px;
    text-align: center;
    max-width: 25rem;
    min-height: 35rem;
    overflow: hidden;
        box-sizing: border-box;
        /* Include padding and border in the box's total width and height */
        transition: transform 0.2s ease;
        /* Transition for the transform property */
        }
    
           .box:hover {
               transform: scale(1.01);
               /* Scale up the box on hover */
           }


/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: 1fr  1fr
        /* maximum 2 boxes per row on medium screens */
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* 1 box per row on small screens */
    }
}

.button {
    cursor: pointer;
    -webkit-box-pack: justify;
        justify-content: space-between;
        display: flex;
        gap: 0.5rem;
    position: absolute;
    /* Absolute positioning for the button */
    bottom: 10px;
    /* Distance from the bottom of the box */
    left: 50%;
    /* Position the button in the center horizontally */

    /* Center the button horizontally */
    padding: 10px;
    height: 2rem;
    color: white;
        transform: translateX(-50%);
    text-align: center;
    width: 80%;
        background-color: rgb(85, 239, 196);
        color: rgb(0, 0, 0);
        font-weight: 500;
            border-radius: 8px;
            justify-content: center;
            text-align: center;  

}
.button-text{
    width: 100%;
    display: flex;
        /* Use flexbox layout for the box */
        flex-direction: column;
        /* Arrange flex items vertically */
        justify-content: center;
        /* Align flex items vertically */
        align-items: center;
        /* Center flex items horizontally */
        position: relative;
}
.box-body{
        display: flex ;
            flex-direction: column ;
            justify-content: space-between ;
            align-items: center;
            height: 100%;
                position: relative;
                border-radius: 20px ;
                padding: 5px;
}

.day-card{
        display: flex;
            width: 100%;
            padding: 5px 0px;
}

.pill-wrap{
    display: flex;
        align-items: flex-start;
        padding: 5px 10px;
        flex-wrap: wrap;
        gap: 5px;
        width: 100%;
        flex: 1 1 0%;
}
.day-pill{
        padding: 4px 6px;
            box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 6px 0px;
            border-radius: 10px;
            border: 1px solid rgb(230, 230, 230);
}
.day-pill p{
    margin: 0px;

        font-weight: 400;
        line-height: 1.5;
        font-size: 9px;
}
.info-card{
        width: 100%;
            flex: 1 1 0%;
            padding: 8px 16px;
}

.info-card .section1-info{
    display: flex;
        gap: 0.5rem;
        text-align: start;
}
.info-card .section1-info img{
    width: 1.5rem;
    height: 2.5rem;
}
.info-card .section1-info .sec-1-subsec-info
{
    margin-top: -1rem;
}
.info-card .section1-info .sec-1-subsec-info>h3{
    font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 3px;
        color: #8b8b8b;
}
.info-card .section1-info .sec-1-subsec-info>h2{
font-size: 0.8rem;
line-height: 1.5;
font-weight: 400;
margin-top: 0.2rem;
}
.info-card .section1-info p{
    font-size: 0.8rem;
    margin-top: -0.5rem;
}
.expected-salary{
    text-align: start;
}

.about-company{
    height: 15rem;
    overflow: hidden;
    margin-top: 1rem;
        mask-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.about-company h3{
    color: rgba(0, 0, 0, 0.87);
    font-size: 1rem;
    line-height: 1.5;
        font-weight: 500;
        text-align: start;
        margin-bottom: 0.2rem;
}

.about-company h6{
    font-size: 0.9rem;
    font-weight: 700;
    text-align: start;
    margin-top: 0.2rem;
        margin-bottom: 0.2rem;
}
.about-company p{
    text-align: start;
    white-space: pre-wrap;
    font-size: 0.9rem;
    margin-top: 0.2rem;
}
.about-company a{
    color: #4943da;
        font-size: 0.8rem;
        text-decoration: none !important;
        font-weight: 600;
}
.view-job{
        text-align: center;
            margin-bottom: 0.5rem;
            position: relative;
            top: -2rem;
}
.view-job a{
    color: #4943da;
        font-size: 0.8rem;
        text-decoration: none !important;
        font-weight: 600;
}