body{
    background-color: #fff;
}
.grid-container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
     gap: 5%;
        padding:5%;


   
}

.box {
    position: relative;
    background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px;
            border-radius: 20px;
    padding: 20px;
    text-align: center;
    max-width: 25rem;
    min-height: 35rem;
    overflow: hidden;
        box-sizing: border-box;
        /* Include padding and border in the box's total width and height */
        transition: transform 0.2s ease;
        /* Transition for the transform property */
        }
    
           .box:hover {
               transform: scale(1.01);
               /* Scale up the box on hover */
           }


/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: 1fr  1fr
        /* maximum 2 boxes per row on medium screens */
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* 1 box per row on small screens */
    }
}

.button {
    position: absolute;
    /* Absolute positioning for the button */
    bottom: 10px;
    /* Distance from the bottom of the box */
    left: 50%;
    /* Position the button in the center horizontally */

    /* Center the button horizontally */
    padding: 10px;
    height: 2rem;
    color: white;
        transform: translateX(-50%);
    text-align: center;
    width: 80%;
        background-color: rgb(85, 239, 196);
        color: rgb(0, 0, 0);
        font-weight: 500;
            border-radius: 8px;
                margin: 5px 0;
}